<h1>Editing User Game Ques And An</h1>

<%= render 'form', user_game_ques_and_an: @user_game_ques_and_an %>

<%= link_to 'Show', @user_game_ques_and_an %> |
<%= link_to 'Back', user_game_ques_and_ans_path %>
